<div class="center">

  <h1>Simple Calculator</h1>
  <img src="./assets/icon/Icon.png">
  <p class="bold">-- in development --</p>

  <div class="description">
    <p>a Simple Calculator that does extactly what it promises - IT CALCULATES THINGS</p>
    <p class="space"></p>
    <p>an app that gives you the opportunity to either use a text entry for your problems <br> or a well-known
      calculator interface with buttons</p>
  </div>

  <div class="screenshots">
    <p>below are a few screenshots, so you can get an idea about what you can expect</p>
    <h2>what it looks like right now:</h2>

    <div class="images">
      <img src="./assets/screenshots_now/calculator.png">
      <img src="./assets/screenshots_now/text_entry.png">
      <img src="./assets/screenshots_now/result.png">
    </div>

    <h2>what it should look like:</h2>

    <div class="images">
      <img src="./assets/screenshots_future/light%20mode.png">
    </div>

    <div class="images">
      <img src="./assets/screenshots_future/dark%20mode.png">
    </div>

  </div>
</div>
