@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  background-color: #404040;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
  height: 100%;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 800;
  font-size: 4em;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 800;
  font-size: 1.7em;
  margin-bottom: 60px;
  margin-top: 10px;
}

img {
  margin-top: 10px;
  height: 190px;
  border-radius: 25px;
  border: 2px solid white;
}

.description {
  margin: 60px;
}

p {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 400;
  font-size: 1em;
  margin: 5px;
}

.space {
  margin: 30px;
}

.screenshots p {
  margin: 0;
  font-size: 0.6em;
}

.screenshots img {
  border-radius: 4px;
  margin: 0 20px 60px 20px;
  height: 400px;
}

.bold {
  font-weight: 800;
  font-size:0.6em;
}
